annotated-types
asgiref
Brotli
certifi
cffi
chardet
crispy-bootstrap5
cssselect2
distlib
dj-database-url
Django
django-bootstrap-datepicker-plus
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
django-tempus-dominus
djangorestframework
filelock
fonttools
html5lib
Markdown
pdfkit
pillow
pipenv
platformdirs
pycparser
pydantic
pydantic_core
pydyf
pyphen
pytz
reportlab
setuptools
six
sqlparse
tinycss2
typing_extensions
tzdata
virtualenv
weasyprint
webencodings
zopfli
