{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

{% static 'images/bg-login.jpg' as bg_url %}

<style>
  @media (max-width: 576px) {
    .custom-mobile-spacing .col-sm-12 {
      margin-bottom: 5px;
    }
  }
</style>

<div class="login w-75 mx-auto" style='margin-top: 100px'>
  <div class="row  justify-content-center align-item-center">
    <div class="col-md-6 col-sm-12">
      <img src="{% static 'images/login2.jpg' %}" alt="login image" class="img-fluid" style="width:100%; border-radius:20px;">
    </div>
    <div class="col-md-6 col-sm-12  mt-5">
      <div class="p-5" style=" border-radius:20px; border:1px solid lightblue;">
        <h1 class="text-center pb-3 pt-2 fw-bolder" style="color:#023B6D">Login</h1>
        <form method="POST" action="">
          {% csrf_token %} {{ form | crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
