<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="about-section">
        <section class="about-section">
          <div class="container">
              <div class="row my-5 py-5 align-items-center">
                  <div class="col-lg-6">
                      <!-- Column with Vector Image -->
                      <img src="{% static 'images/7.webp' %}" alt="Vector Image" style="width: 80%;">
                  </div>
                  <div class="col-lg-6" style="font-size: large;">
                      <!-- Column with Text and Icons -->
                      <h2 class="section-heading fw-bold pb-2" >About Us</h2>
                      <p>
                          <i class="fas fa-check-circle"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                      <p>
                          <i class="fas fa-check-circle"></i> Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                      <p>
                          <i class="fas fa-check-circle"></i> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                      </p>
                      <p>
                          <i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                      </p>
                      <p>
                          <i class="fas fa-check-circle"></i> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                  </div>
              </div>
          </div>
      </section>
      </div>
</body>
</html>