<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide text-white">
  
        <div class="carousel-indicators my-5">
          <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{% static 'images/1.avif' %}"
              class="d-block w-100"
              alt="image"
              style="
                height: 100vh;
                min-height: 300px;
                background: no-repeat center center scroll;
                background-size: cover;
              "
            />
            <div
              class=" text-white carousel-caption d-flex flex-column justify-content-left align-items-start" style="margin-bottom:220px"
            >
              <h1 class='fw-bolder '>Find Your Train</h1>
              <h5>Vacation</h5>
              <a  href="{% url 'search_trains' %}"class="btn btn-primary">Book Your Ticket</a>
            </div>
          </div>
          <div class="carousel-item ">
            <img
            src="{% static 'images/trainbd.jpg' %}"
            class="d-block w-100"
            alt="image"
            style="
                height: 100vh;
                min-height: 300px;
                background: no-repeat center center scroll;
                background-size: cover;
              "
            />
            <div
              class="text-dark carousel-caption d-flex flex-column justify-content-center align-items-center" 
            >
              <h1 class='fw-bolder'>Enjoy Your Journey</h1>
              <h5>Vacation</h5>
              <a  href="{% url 'search_trains' %}"class="btn btn-primary">Book Your Ticket</a>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/3.jpg' %}"
              class="d-block w-100"
              alt="image"
              style="
                height: 100vh;
                min-height: 300px;
                background: no-repeat center center scroll;
                background-size: cover;
              "
            />
            <div
              class=" text-black carousel-caption d-flex flex-column justify-content-center align-items-end" style="margin-bottom:150px"
            >
            {% comment %} <h1 class='fw-bolder'>Find Your Train</h1>
              <h5>Vacation</h5> {% endcomment %}
              {% comment %} <a  href="{% url 'search_trains' %}"class="btn btn-primary">Book Your Ticket</a> {% endcomment %}
            </div>
          </div>
        </div>
        <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
        >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</body>
</html>