{% extends "base.html" %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags%}

<!-- banner section -->
{% include "banner.html" %}
<!-- banner section end -->


<!-- booking section -->
{% include "booking.html" %}

<!-- services section -->
{% include "service.html" %}

{% comment %} why choose us {% endcomment %}
{% include "why_choose_us.html" %}

{% comment %} happiest choice {% endcomment %}
{% include "choice.html" %}

{% comment %} our team {% endcomment %}
{% include "our_team.html" %}

<!-- about section -->
{% include "about.html" %}

{% comment %} reviews {% endcomment %}
{% include "reviews.html" %}

{% endblock content %}
