<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container my-5 py-5 text-center">
        <h2 class="py-5 fw-bold fs-1">Our Team</h2>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img class="rounded" src="{% static 'images/jackson.avif' %}" alt="img" width="100%" height="300">
                    <div class="card-body">
                        <h5 class="card-title">Mr.Jackson <NAME></h5>
                        <div class="d-felx gap-5">
                            <i class="fa-brands fa-facebook fs-2 bg-primary text-white rounded p-2 "></i>
                            <i class="fa-brands fa-twitter fs-2 bg-info text-white rounded p-2"></i>
                            <i class="fa-brands fa-square-google-plus fs-2 bg-danger text-white rounded p-2"></i>
                        </div>
                    </div>
                </div>
        
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img class="rounded" src="{% static 'images/2.avif' %}" alt="img" width="100%" height="300">
                    <div class="card-body">
                        <h5 class="card-title">Mr.Horwelld <NAME></h5>
                            <div class="d-felx gap-5">
                                <i class="fa-brands fa-facebook fs-2 bg-primary text-white rounded p-2"></i>
                                <i class="fa-brands fa-twitter fs-2 bg-info text-white rounded p-2"></i>
                                <i class="fa-brands fa-square-google-plus fs-2 bg-danger text-white rounded p-2"></i>
                            </div>
                    </div>
                </div>
        
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img class="rounded" src="{% static 'images/horwl.jpg' %}" alt="img" width="100%" height="300" >
                    <div class="card-body">
                        <h5 class="card-title">Mr. Devid aan<NAME></h5>
                            <div class="d-felx gap-5">
                                <i class="fa-brands fa-facebook fs-2 bg-primary text-white rounded p-2"></i>
                                <i class="fa-brands fa-twitter fs-2 bg-info text-white rounded p-2"></i>
                                <i class="fa-brands fa-square-google-plus fs-2 bg-danger text-white rounded p-2"></i>
                            </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</body>
</html>