<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container my-5 py-5 text-center">
        <h2 class="py-5 fw-bold fs-1">What Our Customer Say!</h2>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <img class="rounded-circle" src="{% static 'images/client-1.jpeg' %}" alt="img" >
                    <div class="card-body">
                        <h5 class="card-title">Mr.Rizwan <NAME></h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus magni explicabo consequatur numquam cum dicta autem esse, culpa perspiciatis nostrum! Corrupti animi dignissimos quis. Id!</p>
                    </div>
                </div>
        
            </div>
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <img class="rounded-circle" src="{% static 'images/client-2.jpeg' %}" alt="img" >
                    <div class="card-body">
                        <h5 class="card-title">Ms.Sharlin <NAME></h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus magni explicabo consequatur numquam cum dicta autem esse, culpa perspiciatis nostrum! Corrupti animi dignissimos quis. Id!</p>
                    </div>
                </div>
        
            </div>
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <img class="rounded-circle" src="{% static 'images/client-3.jpg' %}" alt="img"  >
                    <div class="card-body">
                        <h5 class="card-title">Ms. Annaya<NAME></h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus magni explicabo consequatur numquam cum dicta autem esse, culpa perspiciatis nostrum! Corrupti animi dignissimos quis. Id!</p>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</body>
</html>