{% extends "base.html" %} {% block content %}

{% if messages %} 
<script>
  {% for message in messages %}
      Swal.fire({
          position: "top-end",
          icon: "{{ message.tags }}",
          title: "{{ message.tags|title }}",
          text: "{{ message }}",
          showConfirmButton: false,
          timer: 1500
      });
  {% endfor %}
</script>
{% endif %}
<div class="trains w-50 mx-auto mb-5 p-5  text-center text-white fw-bold border border-2 border-success" style="margin-top: 120px;border-radius:20px;   background-color:#023B6D;">
   
{% if trains %}
    <h2>Available Trains:</h2>
    <ul class="list-unstyled ">
        {% for train in trains %}
            <a href="{%url 'details' train.pk %}" class="text-decoration-none lh-5 text-white"><li >{{ train.train }} At: {{ train.departure_time }}</li></a>
        {% endfor %}
    </ul>
{% else %}
    <p class='text-danger'>No trains found based on the filter criteria.</p>
    <a href="{%url 'search_trains'%}">Back</a>
{% endif %}
</div>

{% endblock content %}
