{% extends "base.html" %}
{% block content %}
{%load crispy_forms_tags%}
<style>
  .seat {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
  }

  .booked {
    background-color: red;
    color: white;
  }
</style>

<div class="container booking mx-auto mb-5 p-5" style='margin-top:100px;'>
   <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12  p-3 text-center rounded" style="line-height: 35px; background-color:lightgray">
      <h4 class='fw-bold'>{{ train.train }}</h4>
      <h6>{{ train.departure_station }} to {{ train.arrival_station }}</h6>
      <h6>On: {{ train.date_of_journey }}</h6>
      <h6>At: {{ train.departure_time }}</h6>
      <h6 class="text-danger fw-bold">Available Seats: {{ train.available_seats }}</h6>
      <h5 class='fw-bold'>Booking Fee: {{train.ticket_price}}</h5>
      <form action="{% url 'booking' train.id %}" method="POST">
        {% csrf_token %}
        <label for="seat_number">Enter Seat Number</label><br />
        <input type="text" name="seat_number" id="seat_number" required /><br />

        <button type="submit" class="btn btn-primary my-2" name="booking_btn_submit">
          Pay and Book
        </button>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 shadow">
      <h4 class="text-center p-3 fw-bold " style='background-color:lightgray; color:#023B6D'>Available Seats</h4>
      {% if train.available_seats > 0 %}
      <div class="seat-plan mx-auto" style="width: 300px">
        {% for seat in total_seats %}
        <div class="seat {% if seat in booked_seat_numbers %}booked{% endif %}">
          <a style="cursor: pointer">{{ seat }}</a>
         
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No seats available for booking.</p>
      {% endif %}
    </div>
  </div>

  <div class="w-100 mb-5 p-5 " style="width: 50%; margin: auto; border-radius:20px;   ">
    <h4>Leave Your Comment Here</h4>
    <form  method="POST">
      {% csrf_token %} 
      {{comment_form | crispy }}
      {% if comment_form.errors %}
         <div class="alert alert-danger" role="alert">
            {{ comment_form.errors }}
         </div>
      {% endif %}
      <button
        class="btn btn-primary btn-sm"
        type="submit"
        name="comment_btn_submit"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="card p-3 mt-2 ">
    <h5 class=''> Comments: {{comments | length }}</p>
    <div class="card-body">
        {%for comment in comments%}
            <div class="p-2 lh-4 ">
                <p><small class='fw-bold'>{{comment.name}}</small> <small class='fs-6'>{{comment.date}}</small></p>
                <p>{{comment.comment}}</p>
            </div>
        {%endfor%}
    </div>
</div> 
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{% endblock content %}
