{% extends "base.html" %}
{% block content %}
{%load crispy_forms_tags%}
<style>
  .seat {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
  }

  .booked {
    background-color: red;
    color: white;
  }
</style>

<div class="booking w-75 mx-auto mb-5 p-5 text-white" style='background-color:#023B6D; margin-top:100px; border-radius:20px;'>
  {% if messages %} 
  {% for message in messages %}
  <p {% if message.tags %} class="text-{{ message.tags }} text-center fw-bold" {% endif %}>
      {{ message }}
  </p>
  {% endfor %} 
  {% endif %}
  <div class="row align-items-center">
    <div class="col-md-6 text-center" style="line-height: 35px">
      <h3>{{ train.train }}</h3>
      <h5>{{ train.departure_station }} to {{ train.arrival_station }}</h5>
      <h5>On: {{ train.date_of_journey }}</h5>
      <h5>At: {{ train.departure_time }}</h5>
      <h5 class="text-danger">Available Seats: {{ train.available_seats }}</h5>
      <h3>Booking Fee: {{train.ticket_price}}</h3>
      <form action="{% url 'booking' train.id %}" method="POST">
        {% csrf_token %}
        <label for="seat_number">Enter Seat Number</label><br />
        <input type="text" name="seat_number" id="seat_number" required /><br />

        <button type="submit" class="btn btn-primary my-2" name="booking_btn_submit">
          Pay and Book
        </button>
      </form>
    </div>
    <div class="col-md-6">
      <h3 class="text-center text-bg-secondary p-3 text-white">Available Seats</h3>
      {% if train.available_seats > 0 %}
      <div class="seat-plan mx-auto" style="width: 300px">
        {% for seat in available_seats %}
        <div class="seat {% if seat in booked_seat_numbers %}booked{% endif %}">
          <a style="cursor: pointer">{{ seat }}</a>
          {% comment %} href="{% url 'book_seat' pk=train.pk seat_number=seat
          %}" {% endcomment %}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No seats available for booking.</p>
      {% endif %}
    </div>
  </div>
   <div class="card p-3 mt-2  " style="background-color:#023B6D">
    <h5 class='text-white'> Total Comments: {{comments | length }}</p>
    <div class="card-body" style="background-color:#023B6D">
        {%for comment in comments%}
            <div class="p-2 lh-4 " style="background-color:#023B6D">
                <p><small class='fw-bold'>{{comment.name}}</small> <small class='fs-6'>{{comment.date}}</small></p>
                <p>{{comment.comment}}</p>
            </div>
        {%endfor%}
    </div>
</div> 
  <div class="w-75 mx-auto mb-5 p-5 text-white" style="width: 50%; margin: auto; border-radius:20px;   background-color:#023B6D; ">
    <form  method="POST">
      {% csrf_token %} 
      {{comment_form | crispy }}
      {% if comment_form.errors %}
         <div class="alert alert-danger" role="alert">
            {{ comment_form.errors }}
         </div>
      {% endif %}
      <button
        class="btn btn-primary btn-sm"
        type="submit"
        name="comment_btn_submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{% endblock content %}
